body{
    padding:0px 0px;
    margin: 0;
    background-color: #dae3e5;
  }
  header, footer{
    padding: 20px;
    color: #dae3e5;
    background-color: #04080f;
    text-align: center;
  }
  section{
    padding: 20px;
    text-align: center;
    background-color: #bbd1ea;
  }
  aside{
    padding: 20px;
    text-align: center;
    background-color: #a1c6ea;
  }
  
  /*solución final*/
  html, body{
    height:100%;
  }
  .contenedor{
    min-height: 100%;
    padding-bottom: 60px;
    box-sizing: border-box;
    background-color: #507dbc;
  }
  footer{
    margin-top: -58px;
  }